.container {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gold;
}

.control-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 100px;
}

.controller {
    border: 1px solid black;
    height: 400px;
    width: 700px;
    position: relative;
}

.trash {
    height: 100px;
    width: 100px;
    background: darkgoldenrod;
}

.control {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    /* position: absolute; */
    z-index: 1;
}

#digitalJoy {
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 100px;
}

#analogJoy1 {
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    line-height: 100px;
}

#analogJoy2 {
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    line-height: 100px;
}

#rt {
    background-color: black;
    color: white;
}

#rb {
    background-color: black;
    color: white;
}

#r3 {
    background-color: black;
    color: white;
}

#lt {
    background-color: black;
    color: white;
}

#lb {
    background-color: black;
    color: white;
}

#l3 {
    background-color: black;
    color: white;
}

#x {
    background-color: pink;
}

#y {
    background-color: green;
}

#a {
    background-color: blue;
}

#b {
    background-color: red;
}

#menu {
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
}

#psXbox {
    background-color: white;
    border: solid 1px black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
}

#view {
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
}

.possibleTrash {
    opacity:0.5;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}