.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gold;
}

.control-row {
    display: flex;
    justify-content: space-evenly;
}

.controller {
    border: 1px solid black;
    height: 400px;
    width: 700px;
    position: relative;
}

.trash {
    height: 100px;
    width: 100px;
    background: darkgoldenrod;
}

.control {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#joystick1 {
    background-color: red;
}

#joystick2 {
    background-color: blue;
}

#joystick3 {
    background-color: green;
}

#button1 {
    background-color: orange;
}

#button2 {
    background-color: yellow;
}

#button3 {
    background-color: purple;
}

#button4 {
    background-color: grey;
}

#button5 {
    background-color: teal;
}

.possibleTrash {
    opacity:0.5;
}